<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="target-platform">
 <locations>
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
   <repository location="https://download.eclipse.org/releases/2024-03"/>
	  <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.2300.v20240229-1022"/>
	  <unit id="org.eclipse.sdk.feature.group" version="4.31.0.v20240229-1022"/>
  </location>
	 <location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">

		 <feature id="google" label="google" version="1.0.0.qualifier">

   

   

   

   

   

   

   
			 <description url="http://www.example.com/description">
      [Enter Feature Description here.]
   </description>
			 <copyright url="http://www.example.com/copyright">
      [Enter Copyright Description here.]
   </copyright>
			 <license url="http://www.example.com/license">
      [Enter License Description here.]
   </license>
			 <plugin id="com.google.guava.source" version="0.0.0"/>
			 <plugin id="com.google.gson.source" version="0.0.0"/>
			 <plugin id="com.google.gson" version="0.0.0"/>
			 <plugin id="com.google.guava" version="0.0.0"/>
		 </feature>
		 <dependencies>
			 <dependency>
				 <groupId>com.google.code.gson</groupId>
				 <artifactId>gson</artifactId>
				 <version>2.10.1</version>
				 <type>jar</type>
			 </dependency>
			 <dependency>
				 <groupId>com.google.guava</groupId>
				 <artifactId>guava</artifactId>
				 <version>33.1.0-jre</version>
				 <type>jar</type>
			 </dependency>
		 </dependencies>
	 </location>
	 <location includeDependencyDepth="infinite" includeDependencyScopes="compile,test" includeSource="true" missingManifest="generate" type="Maven">
		 <dependencies>
			 <dependency>
				 <groupId>org.mockito</groupId>
				 <artifactId>mockito-core</artifactId>
				 <version>5.12.0</version>
				 <type>jar</type>
			 </dependency>
		 </dependencies>
	 </location>
 </locations>
</target>